.datalist__container {
    border-radius: $border-radius;
    background-color: getColor(base1);
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: fit-content;
    z-index: 20;

    .datalist__input {
        position: relative;
        border-bottom: 1px solid getColor(base2);

        img,
        svg {
            position: absolute;
            top: 48%;
            transform: translateY(-50%);
            width: 2.2rem;
            height: 2.2rem;
        }
        img {
            left: 1.3rem;
            width: 2rem;
            height: 2rem;
        }

        input {
            color: getColor(text);
            background-color: getColor(base1);
            padding: 1rem 2rem;
            padding-left: 4rem;
            border-radius: 10rem;
            width: 100%;
            font-size: $p-size;

            &::placeholder {
                color: #373737;
            }
        }

        svg {
            right: 0.8rem;
            fill: inherit;
        }
    }

    .datalist__options {
        max-height: 30rem;
        padding: 5px;
        overflow-y: scroll;

        .datalist__option {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;
            border-radius: $border-radius;
            transition: 0.3s;
            position: relative;

            cursor: pointer;
            img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
            }
            p {
                font-size: $p-size;
                font-weight: 700;
            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &:is(:hover, :active, :focus) {
                background-color: $clr-primary;
                color: $clr-white;
            }

            &.active {
                color: $clr-primary;

                &::after {
                    position: absolute;
                    content: "";
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $clr-primary;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                }
            }
        }
    }
}

.walletList__container {
    .wallet__content {
        padding: 2rem;
        padding-bottom: 0;
        border-radius: $border-radius;
        background-color: getColor(base1);

        height: max-content;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5rem;
            font-size: 2rem;
            border-bottom: 1px solid getColor(border);
            padding-bottom: 1rem;
            h3 {
                font-size: 2rem !important;
            }
        }
    }
    ul {
        padding: 0 1rem;
        li {
            position: relative;
            padding: 2rem 0;
            padding-right: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8rem;
            &.active {
                &::after {
                    position: absolute;
                    content: "";
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $clr-primary;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                }
                h3 {
                    color: $clr-primary;
                }
            }
            h3 {
                font-size: 2rem !important;
            }
            p {
                font-size: 1.4rem !important;
            }
            h3,
            p {
                white-space: nowrap;
            }
            &:not(:last-child) {
                border-bottom: 1px solid getColor(border);
            }
            img {
                max-width: 8rem;
                max-height: 6rem;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .datalist__container {
        position: fixed;
        top: 10rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 30rem;
    }
}
